<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>TagHelper code</th>
    <th>HTML source</th>
  </tr>
  <tr>
    <td><%= render_cell :snippets, :edit %></td>
    <td id="html-source"><%= render_cell :snippets, :show %></td>
  </tr>
</table>

<%= link_to 'Back', snippets_path %>
